<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://mich-db.documents.azure.com:443/" />
        <add key="accountKey" value="y7LOU6EdK2cKipAQGSsVrU9AfncZUhNOZKkaerQu6fZxOyfLQkKSqjxoA21A2bIfZOK2FI7rTutCEKTc2K1ZpA==" />
      </appSettings>
</configuration>